# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Lost & Found.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\KrazySoftware\Lost & Found\.idea\.idea.Lost & Found\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
